@font-face
  font-family: "rpo-icon"
  src: url('../fonts/rpo-icon.eot?t=1525930739426')
  src: url('../fonts/rpo-icon.eot?t=1525930739426#iefix') format('embedded-opentype'),
  url('../fonts/rpo-icon.ttf?t=1525930739426') format('truetype'),
  url('../fonts/rpo-icon.svg?t=1525930739426#iconfont') format('svg')

[class^="icon-"], [class*=" icon-"]
  font-family "rpo-icon" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-didian:before { content: "\e6bf"; }

.icon-close:before { content: "\e6fd"; }

.icon-enter:before { content: "\e6f8"; }

.icon-more:before { content: "\e710"; }

.icon-return:before { content: "\e720"; }

.icon-right:before { content: "\e721"; }

.icon-switch:before { content: "\e72e"; }

.icon-unfold:before { content: "\e749"; }

.icon-dingwei1:before { content: "\e658"; }

.icon-bianji:before { content: "\e606"; }

.icon-xinfeng:before { content: "\e622"; }

.icon-fanhui:before { content: "\e604"; }

.icon-dingbu:before { content: "\e616"; }

.icon-dingwei:before { content: "\e61c"; }

.icon-xiugai:before { content: "\e639"; }

.icon-love-b:before { content: "\e60b"; }

.icon-love-b1:before { content: "\e60c"; }

.icon-camera-b:before { content: "\e61a"; }

.icon-camera2:before { content: "\e61b"; }

.icon-qiuzhi:before { content: "\e608"; }

.icon-shijian:before { content: "\e69b"; }

.icon-danxuan-xuanzhong:before { content: "\e603"; }

.icon-danxuan:before { content: "\e605"; }

.icon-gengduo1:before { content: "\e607"; }

.icon-xuanzhong:before { content: "\e618"; }

.icon-xuanzhong1:before { content: "\e619"; }

.icon-shouye:before { content: "\e620"; }

.icon-jianli:before { content: "\e640"; }

.icon-dianhua:before { content: "\e68f"; }

.icon-gerenzhongxin:before { content: "\e60a"; }

.icon-xiazai:before { content: "\e617"; }

.icon-dizhi:before { content: "\e61d"; }

.icon-shangchuan:before { content: "\e623"; }

.icon-gengduo:before { content: "\e62c"; }

