@font-face
  font-family: "rpo-icon"
  src: url('../fonts/rpo-icon.eot?t=1525930739426')
  src: url('../fonts/rpo-icon.eot?t=1525930739426#iefix') format('embedded-opentype'),
  url('../fonts/rpo-icon.ttf?t=1525930739426') format('truetype'),
  url('../fonts/rpo-icon.svg?t=1525930739426#iconfont') format('svg')

[class^="icon-"], [class*=" icon-"]
  font-family "rpo-icon" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-enter:before
  content "\e6f8"

.icon-like_fill:before
  content "\e707"

.icon-like:before 
  content "\e708"

.icon-more:before
  content: "\e710"

.icon-return:before
  content: "\e720"

.icon-right:before
  content: "\e721"

.icon-switch:before
  content: "\e72e"

.icon-unfold:before
  content: "\e749"

