// 颜色定义规范
$color-background = #f8f9fb
$color-background-b = #FFDB01
$color-background-d = #FFFFFF
$color-theme = #FED901
$color-theme-l = #EFEFEF
$color-text = #0E0E0E
$color-text-d = #666666
$color-text-t = #333333
$color-text-r = #FF3E3E
$color-text-b = #4A90E2
$color-line-b = #5699F5

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px